.result_texts{
    padding: 10px;
}

hr.result{
    border: 5px solid #1c87c9;
    border-radius: 5px
}
.SampleCharacteristics{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    .tableHeadCell {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-collapse: collapse;
        width: 13%;
        font-size:12px;
        text-align: center;
        font-weight: bold;
        padding: 5px;
    }
    .tableCell{
        font-size:12px;
        text-align: center
    }
}

.ExtremeValues{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    .tableHeadCell {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-collapse: collapse;
        width: 18px;
        font-size:12px;
        text-align: center;
        font-weight: bold;
        padding: 5px;
    }
    .tableCell, .tableCell2{
        font-size:16px;
        text-align: center;
        border: none;
        padding: 3px;
    }
    .tableCell2{
        border-top: 1px solid black
    }
}
.DownloadButtonClass{
    font-size:20px;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
}

.DownloadButtonClass:hover {
    background: linear-gradient(#408c99, #599bb3);
}

.AccordionDataframe{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.dataframe{
    display: inline-table;
    border-collapse: collapse;

    thead, th{
        width: 50px;
        font-size:12px;
        text-align: center;
    }
    tbody{
        font-size:10px;
        width: fit-content;
        text-align: center;
    }
}
.first_table{
    padding: 15px;
    .dataframe{
        thead, th{
            width: 100px;
            font-size:15px;
        }
        tbody{
            font-size:13px;
        }
    }
}
.jsonResultsTable{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    //max-width:100%;
    max-height: 700px;
    width:100%;
    align-items: center;
    display: inline-block;
    overflow: auto;
    text-align: center;
    th, thead {
        font-size:14px;
        font-weight: bold;
        padding: 5px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        background-color: royalblue;
        color: white;
        min-width: min(100px, calc(100vw - 680px));
        //border-inline-end: 1px solid lightgray;
    }
    tr:hover {background-color: lightslategrey;}
    td, tbody
    {
        padding: 10px;
        border-bottom: 1px solid lightgray;
        font-size:12px;
            //border-bottom: 1px solid lightgray;
    }
    tr:nth-child(even) {background-color: #f2f2f2;
    }
    th:nth-child(1), td:nth-child(1) {
        /* your stuff here */
    border-left: 1px solid lightgray;
    }
    th:nth-child(n), td:nth-child(n) {
        /* your stuff here */
        border-right: 1px solid lightgray;
    }
}
