img{
    border: 1px solid #ccc;
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    //width: 100%;
    width: auto;
    height: auto;
    padding: 10px 10px;
}
