.datatable {
    height: 630px;
    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        display: flex;

    }
    .datagrid{
        text-align-all: center;
    }
}
