.datatable {
    height: 600px;
    padding: 20px;
    .columns {
        align-items: center;
    }
    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .datagrid {
        grid-row: red;
        text-decoration-color: red;
        text-align-all: center;
    }
    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .buttonContainer {
        margin-top: 20px;  // Adjust the margin to give more space
        display: flex;
        justify-content: center;
    }
}
